<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>scrapper</title>
	</head>
	<body>
		{{{ body }}}
    <input type="button">{{scrape}}</input>
    <input type="button">{{ddd}}</input>
	</body>
</html>
